<div class="forum-post">
    <div class="head">
        <div><a href="http://localhost:4200/#/forum/page">Developed Hell</a></div>
        <button mat-raised-button>Новый тред</button>
    </div>
    <div class="post">
        <div class="header">
           <span>WTH_TODAY</span>
           <span>#23826</span>
           <span class="date">4 June 2018 at 20:21:00</span>
           <mat-icon>reply</mat-icon>
        </div>
        <div class="content">
            Время от времени можно подвергнуться чужому влиянию, но в пассивной форме и не от людей. Невзначай сфокусиовать свое внимание во время прослушивания песни, услышать один из музыкальных инструментов отдельно, обособленно, ярко и вот уже крадется мысль "а не научиться ли игре?". В каком-нибудь фильме персонаж ведет себя по-особому, какая-то привычка вроде дергать пальцами, держа руки у груди. Ненадолго обращаешь внимание, потом продолжаешь просмотр и затем, возможно, в очереди замечаешь, что делаешь именно так, хотя даже и мысли не было.
        </div>
    </div>
    <app-forum-comment [comment]="data[0]"></app-forum-comment>
    <app-forum-comment [comment]="data[1]"></app-forum-comment>
    <app-forum-comment [comment]="data[2]"></app-forum-comment>
    <app-forum-comment [comment]="data[0]"></app-forum-comment>
    <app-forum-comment [comment]="data[1]"></app-forum-comment>
    <app-forum-comment [comment]="data[2]"></app-forum-comment>
    <app-forum-comment [comment]="data[0]"></app-forum-comment>
    <app-forum-comment [comment]="data[1]"></app-forum-comment>
    <app-forum-comment [comment]="data[2]"></app-forum-comment>
    <app-forum-comment [comment]="data[0]"></app-forum-comment>
    <app-forum-comment [comment]="data[1]"></app-forum-comment>
    <app-forum-comment [comment]="data[2]"></app-forum-comment>
</div>
