<div class="page404">
  <div class="page404__img"></div>
  <div class="page404__text">
    <div class="page404__text-title">
      <div class="page404__glitch--title" data-text="404">404</div>
    </div>
    <div class="page404__text-info">
      <div class="page404__glitch--info" data-text="Упс... Мы не можем найти страницу, которую ВЫ искали...
        Скорее всего вы попали на битую ссылку">
        Упс... Мы не можем найти страницу, которую ВЫ искали... Скорее всего вы попали на битую ссылку.
      </div>
    </div>
    <button class="page404__text-button" mat-raised-button (click)="goToMainPage()">Главная страница</button>
  </div>
</div>
