<div class="profile-password">
  <form [formGroup]="passForm">
    <app-card [title]="'Изменить пароль'">
      <mat-card-content class="profile-password__content">
        <app-simpe-input formControlName="oldPass" [placeholder]="'Старый пароль:'" [type]="'password'"></app-simpe-input>
        <app-simpe-input formControlName="newPass" [placeholder]="'Новый пароль:'" [type]="'password'"></app-simpe-input>
        <app-simpe-input formControlName="repeatPass" [placeholder]="'Повторите пароль:'" [type]="'password'"></app-simpe-input>
      </mat-card-content>
    </app-card>
  </form>
</div>
