<div [ngClass]="{'color-picker': true, 'only-hex': !rgb.length, 'has-title': !!label.length}">
  <mat-grid-list cols="3" rowHeight="30px">
    <mat-grid-tile class="wrapper__grid" colspan="3" [rowspan]="!!label.length ? 2 : 1">
      <mat-form-field #hexWrapper class="full show-ripple wrapper__field">
        <span matPrefix>#</span>
        <input [placeholder]="label" matInput maxlength="6" (keyup)="onChangeHex($event)" [value]="hexValue">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="wrapper__grid" *ngFor="let color of rgb; let ind = index">
      <mat-form-field class="wrapper__field">
        <input maxlength="3" (keyup)="onChangeRGB($event, ind)" matInput [value]="color.value">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>