.terms__cog-menu {
  position: absolute;
  top: 5px;
  right: 10px;
}

.terms__title {
  font-size: 20px;
  color: #ffffff;
  margin-top: -20px;
  margin-left: 5px;
  &-edit_block {
    &--input {
      margin-top: -20px;
      margin-left: 5px;
    }
    &--icon {
      position: relative;
      top: 10px;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

.terms__editor-buttons {
  padding-top: 10px;
  text-align: right;
}
