.card {
  margin: 30px 30px 30px 30px;
  background-color: #333333;
  color: #ffffff;
  &__title {
    font-size: 20px;
    color: #ffffff;
  }
}

/* Card types */
.default-card {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #ffffff;
  &__title {
    font-size: 20px;
    color: #ffffff;
  }
}

/* Default card styles */
.mat-card {
  box-shadow: unset !important;
  transition: none !important;
  border-radius: 0 !important;
}

@media (max-width: 420px) {
  .card {
    margin: 30px 0px 30px 0px;
  }
}
